div {
    background-color: hsl(0, 65%, 56%);

    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
    
}

span {
    background-color: hsl(240, 50%, 49%);
    width: 100px;
    height: 100px;
    display: inline-block;
    
}